@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,600|Open+Sans+Condensed:700&subset=latin,cyrillic-ext);
// Styles
// ------------------------------------

// first of all. Choose your options
$debug-mode:                              false!default;
$use-breadcrumb:                          false!default;
$use-pagination:                          false!default;
$use-pager:                               false!default;
$use-btn-group:                           false!default;
$use-input-group:                         false!default;
$use-split:                               false!default;
$use-rules:                               false!default;
$use-this-or-this:                        false!default;
$use-has-feedback:                        false!default;
$use-color-text:                          false!default;
$use-color-table:                         false!default;
$use-column-table:                        false!default;
$use-flexbox:                             true!default;
$use-adaptive:                            true!default;

// plugins
$use-animations:                          true!default;

// Variables
@import "_variables";

// Util
@import "utils/_glob";

// Base
@import "base/_glob";

// Components
@import "components/_glob";

// Layout
@import "layout/glob";

// Pages
@import "pages/glob";

// Themes
@import "themes/glob";

// Vendors
@import "vendors/glob";

