footer
    .container
        .row.between-xs.middle-xs
            .col-md-6.col-xs-12.text--md--left.text--center
                ul.list--inline
                    li +18
                    li
                        a(href="#") Компаниям
                    li
                        a(href="#") Партнерам
                    li
                        a(href="#") Реклама
            .col-md-6.col-xs-12.text--md--right.text--center
                ul.list--inline
                    li
                        a(href="#") Вакансии
                    li
                        a(href="#") Блог
                    li
                        a(href="#") О компании
                    li © Горсправка.рф