nav.navbar.anchor(role="navigation")
    .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
            li.nav__element
                a(href="#plans").nav__element-item Цены
            li.nav__element
                a(href="#reviews").nav__element-item Отзывы
            li.nav__element
                a(href="#projects").nav__element-item Схема работы
            li.nav__element
                a(href="#feedback").nav__element-item Задать вопрос
        .phone.hidden--md.hidden--lg.text--center
            a.text--info(href="tel:88003333333")
                i.icon-phone.text--success
                |  8 (800) 333-33-33