nav.navbar.anchor(role="navigation")
    ul.nav.navbar-nav
        li.nav__element
            a(href="#services").nav__element-item Цены
        li.nav__element
            a(href="#reviews").nav__element-item Отзывы
        li.nav__element
            a(href="#googlemap").nav__element-item Схема работы
        li.nav__element
            a(href="#googlemap").nav__element-item Задать вопрос