//
// Partials -> Header
// ------------------------------------

.header__top {
  background-color: $brand;
  padding: 16px 0 13px;
}
.header__bottom {
  background: url("../images/background.jpg") no-repeat center;
  background-size: cover;
  padding: 68px 0 0;
}
.logo {
}
.phone {
  font-family: "Open Sans Condensed";
  color: $lighter;
  font-size: 21px;
  font-weight: 700;
}
.reasons__title {
  margin-bottom: 25px;
  margin-top: 0;
  h3 {margin: 0;}
  img {margin-right: 19px;}
}
.background__photo {
  //background: url("../images/background__girl.png") no-repeat center bottom;
  position: absolute;
  right: -53px;
  bottom: -5px;
  z-index: 0;
}