//
// Partials -> Header
// ------------------------------------
.header__top {
  background-color: $brand;
  padding: 16px 0 13px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
.header__bottom {
  background: url("../images/background.jpg") no-repeat center;
  background-size: cover;
  padding: 68px 0 0;
  overflow: hidden;
  margin-top: 78px;
}
.logo {
  img {
    width: 100%;
  }
}
.phone {
  font-family: "Open Sans Condensed";
  color: $lighter;
  font-size: 21px;
  font-weight: 700;
}
.reasons__title {
  margin-bottom: 25px;
  margin-top: 0;
  h3 {margin: 0;}
  img {margin-right: 19px;}
}
.background__photo {
  //background: url("../images/background__girl.png") no-repeat center bottom;
  &-1 {
    position: absolute;
    right: -53px;
    bottom: -5px;
    z-index: 0;
  }
  &-2 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -43px;
    z-index: -1;
  }
  &-3 {
    position: absolute;
    left: -11px;
    top: 17px;
    z-index: 1;
  }
}