//
// Partials -> Main
// ------------------------------------

.reasons-counter {
  color: #e8ebef;
  font-size: 100px;
  font-weight: 700;
  display: block;
  float: left;
  height: 100%;
  margin-right: 18px;
}