extends layouts/_default
block content
    - var title = { description: 'Заголовок' }
    #reasons
        .container
            h2.text--center Узнайте, с помощью чего мы приведем вам
                br
                span.text--success максимум заказов
                |  по минимальной цене
            .row.beetwen-xs
                .col-sm-4.reason__block
                    span.reasons-counter 1
                    h3.reasons__title.margtop60 Долгосрочная
                        br
                        | стратегия
                        br
                        | под ваш бюджет
                    p.text--sm Передовая настройка рекламы находит в Интернете вообще всех людей, которым интересен ваш товар. Даже если они об этом еще не знают
                .col-sm-4.reason__block
                    span.reasons-counter 2
                    h3.reasons__title.margtop60 Быстрая
                        br
                        | окупаемость
                    p.text--sm В среднем, затраты на нашу настройку окупаются  от 2-х до 6-ти месяцев
                .col-sm-4.reason__block
                    span.reasons-counter 3
                    h3.reasons__title.margtop60 Сертифи-
                        br
                        | цированные
                        br
                        | специалисты
                    p.text--sm Передовая настройка рекламы находит в Интернете вообще всех людей, которым интересен ваш товар. Даже если они об этом еще не знают
                div
                    img(src="images/reasons__back.jpg", alt="")
                .col-sm-4.reason__block
                    span.reasons-counter 4
                    h3.reasons__title.margtop60 Постоянная
                        br
                        | оптимизация
                        br
                        | прибыли
                    p.text--sm Селекция бренда стремительно отталкивает конструктивный рекламоноситель. соответствии с законом Ципфа
                .col-sm-4.reason__block
                    span.reasons-counter 5
                    h3.reasons__title.margtop60 Маркетинговый
                        br
                        | подход
                    p.text--sm В соответствии с законом Ципфа, медиамикс допускает из ряда вон выходящий рекламный бриф. Построение
                .col-sm-4.reason__block
                    span.reasons-counter 6
                    h3.reasons__title.margtop60 Дотошная
                        br
                        | веб-аналитика
                    p.text--sm Построение бренда, не меняя концепции, изложенной выше, сознательно усиливает стратегический рекламный бриф, опираясь на опыт


    #services.services.margtop70
        .container
            h2.text--center Услуги
            .row.around-xs
                .col-xs-12
        .container
            h2 Отзывы наших клиентов
            .row.around-xs
                .col-xs-12
    #partners.partners.text--center
        .container
            h2 Наши партнеры
            .row.around-xs.margtop50
                - for (var x = 1; x <= 6; x++)
                .col-xs-2
                    img(src="images/partners__0#{x}.png", alt="")
    #googlemap.googlemap.p-relative
        .googlemap__address
            .googlemap__address-item.text--center
                p
                    b Наш адрес:&nbsp;
                    br
                    | Санкт-Петербург,&nbsp;
                    | Щербаков пер., 12
                p
                    b График работы:&nbsp;
                    br
                    | ежедневно с 9:00 до 21:00
                p
                    b Сайт:&nbsp;
                    | www.flyp.ru
                    br
                    b Телефон:&nbsp;
                    | 8 (812) 407-16-50
                    br
                    b E-mail:&nbsp;
                    | operator@flycopy.ru